:root {
    --callout-note-rgb: 0, 176, 255;
    --callout-success-rgb: 0, 200, 83;
    --callout-warning-rgb: 255, 145, 0;
    --callout-error-rgb: 255, 0, 0;
    --callout-quote-rgb: 158, 158, 158;
}

.callout-type-note,
.callout-type-abstract,
.callout-type-tip,
.callout-type-info,
.callout-type-todo,
.callout-type-question,
.callout-type-example {
  --callout-color: var(--callout-note-rgb);
}

.callout-type-success,
.callout-type-succ,
.callout-type-ok {
  --callout-color: var(--callout-success-rgb)
}

.callout-type-warning,
.callout-type-warn {
  --callout-color: var(--callout-warning-rgb);
}

.callout-type-error,
.callout-type-err {
  --callout-color: var(--callout-error-rgb);
}

.callout-type-quote {
  --callout-color: var(--callout-quote-rgb);
}

.callout-block {
    /* disable margin-collapse on inner elements to create space between inner elements and the border */
    overflow: auto;

    /* white-space below and above the block */
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;

    border: rgba(var(--callout-color), 0.3) 1px solid;
    background-color: rgba(var(--callout-color), 0.1);
}

.callout-title-section {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(var(--callout-color), 0.3);
    padding-left: 1rem;
}

.callout-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.callout-content-section {
    padding: 0 1rem;
}


/* remove default marker of details, which is before the element, and move it after the element */

.callout-title-section::marker {
    display: none;
}

.callout-title-section::-webkit-details-marker {
    display: none;
}

.callout-collapsible .callout-title::after {
    content: ' ►';
}

.callout-collapsible[open] .callout-title::after {
    content: " ▼";
}
